.loginBG {
    width: 100vw;
    height: 105vh;
  
    background-size: cover;
    margin-left: -20.6vw;
    color: black;
}


.login-panel {
    background-color: var(--prim-color);
    width: 30vw;
    border: 1px solid gray;
    border-radius: 5p;
    margin: 55vh auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center ;
    text-align: center;
}


.login-panel h1 {
    width: 100%;
    
}

.login-panel input {
    width: 70%;
    height: 30px;
    border-radius: 10px;
    padding-left: 5px;
}