.sidebar {
    position: fixed;
    grid-column: 3;
    width: 20%;
    height: 100vh;
    background-color: #513497;
    text-align: center;
    margin-left: 0px;
    padding-left: 0px;
}

.sidebar li:hover {
    transition: all 0.3s;
    background-color: #f177ff;
}
.sidebar li{
    padding: 10px;
    font-size: 1.5rem;
    border-bottom: 1px groove #ffebd3;
}

.sidebar ul{
    list-style: none;
    padding: 0px;
}

.sidebar .nav-link {
    text-decoration: none;
    color: white;
}

/* .sidebar .logout {
position: absolute;
    bottom: 10;
    left: 0;
    width: 30%;
} */
.sidebar .logout {
    width: 30%;
    height: 5%;

}
.sidebar .brand {
    font-size: 2.2rem;
}